.homepage-container {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  height: 100vh; 
  font-size: 48px;
}

.button-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: medium;

}

.decrement-button button {
    --bs-btn-bg: red;
    --bs-btn-border-color: red;
    --bs-btn-hover-bg: red;
    --bs-btn-hover-border-color: red;
    --bs-btn-disabled-bg: red;
    --bs-btn-disabled-border-color: red;
    --bs-btn-active-bg: red;
    --bs-btn-active-border-color: red;
}

.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  transform: translate(-50%, -50%);
  z-index: -1;
}

.title-container {
  margin-bottom: 16px;
  text-align: center;
  
 
}